@import url('./_disabled/popup__button_disabled.css');
@import url('./_enabled/popup__button_enabled.css');
@import url('./_add/popup__button_add.css');
@import url('./_edit/popup__button_edit.css');

.popup__button {
  width: 100%;
  height: 50px;
  margin-top: 48px;
  border-radius: 2px;
}