.user-info__add-button {
  position: absolute;
  top: 16px;
  right: 0;
  width: 150px;
  height: 50px;
  font-size: 30px;
  color: white;
  background: black;
}

.user-info__add-button:hover {
  color: black;
  background: white;
}

@media screen and (max-width: 980px) {
  .user-info__add-button {
    position: static;
    margin-bottom: 40px;
  }
}
