.user-info__data {
  display: flex;
  flex-direction: column;
  max-width: 364px;
  margin-left: 36px;
}

@media screen and (max-width: 980px) {
  .user-info__data {
    margin: 20px 0;
    align-items: center;
    text-align: center;
  }
}
