@import url('../__like/__like-icon/place-card__like-icon.css');
@import url('../__like/__like-counter/place-card__like-counter.css');

.place-card__like {
    display: flex;
    flex-direction: column;
    align-items: center;
}